[submodule "Ansible/ThirdParty/GSL"]
	path = Ansible/ThirdParty/GSL
	url = https://github.com/ansible-desktop/GSL.git
[submodule "Ansible/ThirdParty/xxHash"]
	path = Ansible/ThirdParty/xxHash
	url = https://github.com/ansible-desktop/xxHash.git
[submodule "Ansible/ThirdParty/lz4"]
	path = Ansible/ThirdParty/lz4
	url = https://github.com/ansible-desktop/lz4.git
[submodule "Ansible/lib_crl"]
	path = Ansible/lib_crl
	url = https://github.com/ansible-desktop/lib_crl.git
[submodule "Ansible/lib_rpl"]
	path = Ansible/lib_rpl
	url = https://github.com/ansible-desktop/lib_rpl.git
[submodule "Ansible/lib_base"]
	path = Ansible/lib_base
	url = https://github.com/ansible-desktop/lib_base.git
[submodule "Ansible/codegen"]
	path = Ansible/codegen
	url = https://github.com/ansible-desktop/codegen.git
[submodule "Ansible/lib_ui"]
	path = Ansible/lib_ui
	url = https://github.com/ansible-desktop/lib_ui.git
[submodule "Ansible/lib_lottie"]
	path = Ansible/lib_lottie
	url = https://github.com/ansible-desktop/lib_lottie.git
[submodule "Ansible/lib_tl"]
	path = Ansible/lib_tl
	url = https://github.com/ansible-desktop/lib_tl.git
[submodule "Ansible/lib_spellcheck"]
	path = Ansible/lib_spellcheck
	url = https://github.com/ansible-desktop/lib_spellcheck.git
[submodule "Ansible/lib_storage"]
	path = Ansible/lib_storage
	url = https://github.com/ansible-desktop/lib_storage.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/ansible-desktop/cmake_helpers.git
[submodule "Ansible/ThirdParty/expected"]
	path = Ansible/ThirdParty/expected
	url = https://github.com/ansible-desktop/expected.git
[submodule "Ansible/ThirdParty/QR"]
	path = Ansible/ThirdParty/QR
	url = https://github.com/ansible-desktop/QR-Code-generator.git
[submodule "Ansible/lib_qr"]
	path = Ansible/lib_qr
	url = https://github.com/ansible-desktop/lib_qr.git
[submodule "Ansible/ThirdParty/hunspell"]
	path = Ansible/ThirdParty/hunspell
	url = https://github.com/ansible-desktop/hunspell.git
[submodule "Ansible/ThirdParty/range-v3"]
	path = Ansible/ThirdParty/range-v3
	url = https://github.com/ansible-desktop/range-v3.git
[submodule "Ansible/ThirdParty/nimf"]
	path = Ansible/ThirdParty/nimf
	url = https://github.com/ansible-desktop/nimf.git
[submodule "Ansible/ThirdParty/hime"]
	path = Ansible/ThirdParty/hime
	url = https://github.com/ansible-desktop/hime.git
[submodule "Ansible/ThirdParty/fcitx5-qt"]
	path = Ansible/ThirdParty/fcitx5-qt
	url = https://github.com/ansible-desktop/fcitx5-qt.git
[submodule "Ansible/lib_webrtc"]
	path = Ansible/lib_webrtc
	url = https://github.com/ansible-desktop/lib_webrtc.git
[submodule "Ansible/ThirdParty/tgcalls"]
	path = Ansible/ThirdParty/tgcalls
	url = https://github.com/ansible-desktop/tgcalls.git
[submodule "Ansible/lib_webview"]
	path = Ansible/lib_webview
	url = https://github.com/ansible-desktop/lib_webview.git
[submodule "Ansible/ThirdParty/kimageformats"]
	path = Ansible/ThirdParty/kimageformats
	url = https://github.com/ansible-desktop/kimageformats.git
[submodule "Ansible/ThirdParty/kcoreaddons"]
	path = Ansible/ThirdParty/kcoreaddons
	url = https://github.com/ansible-desktop/kcoreaddons.git
[submodule "Ansible/ThirdParty/cld3"]
	path = Ansible/ThirdParty/cld3
	url = https://github.com/ansible-desktop/cld3.git
[submodule "Ansible/ThirdParty/libprisma"]
	path = Ansible/ThirdParty/libprisma
	url = https://github.com/ansible-desktop/libprisma.git
[submodule "Ansible/ThirdParty/xdg-desktop-portal"]
	path = Ansible/ThirdParty/xdg-desktop-portal
	url = https://github.com/ansible-desktop/xdg-desktop-portal.git
[submodule "Ansible/lib_translate"]
	path = Ansible/lib_translate
	url = https://github.com/ansible-desktop/lib_translate.git
[submodule "Ansible/ThirdParty/cmark-gfm"]
	path = Ansible/ThirdParty/cmark-gfm
	url = https://github.com/ansible-desktop/cmark-gfm.git
[submodule "Ansible/ThirdParty/MicroTeX"]
	path = Ansible/ThirdParty/MicroTeX
	url = https://github.com/ansible-desktop/MicroTeX.git
[submodule "Ansible/ThirdParty/TooManyCooks"]
	path = Ansible/ThirdParty/TooManyCooks
	url = https://github.com/ansible-desktop/TooManyCooks.git
[submodule "Ansible/ThirdParty/libcbor"]
	path = Ansible/ThirdParty/libcbor
	url = https://github.com/ansible-desktop/libcbor.git
[submodule "Ansible/ThirdParty/libfido2"]
	path = Ansible/ThirdParty/libfido2
	url = https://github.com/ansible-desktop/libfido2.git
